<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Monitor</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<style>
body { padding-top: 70px; }</style>
</head>
<body>


    <div class="container">

        <table class="table table-striped table-dark">
            <thead>
                <tr>
                    <th>#</th>
                    <th>DevID</th>
                    <th>Topic</th>
                    <th>Date</th>
                    <th>Payload</th>
                </tr>
            </thead>
            <tbody>

                <% for(var i=0; i < mqtt_dash.length; i++) { %>
                    <tr>
                        <td><%= i + 1%></td>
                        <td><%= mqtt_dash[i].devID %></td>
                        <td><%= mqtt_dash[i].topic%></td>
                        <td><%= mqtt_dash[i].date %></td>
                        <td><%= mqtt_dash[i].payload%></td>
                        
                    </tr>
                <% } %>
    
            </tbody>
        </table>

    </div>

    <script  src="/socket.io/socket.io.js" charset="utf-8"></script>
    <script>
        const socket = io();

        socket.on('mqtt_dash', function(data){
            console.log(data);
        });
    </script>
</body>
</html>